In [10]:
import os
#osをimport

In [11]:
os.getcwd()
#現在のいるディレクトリ

'/mnt/c/Users/井上勇大/OneDrive/デスクトップ/inoue_project/notebook'

In [12]:
import numpy as np
#numpyをimport

In [13]:
from pathlib import Path

In [14]:
from sklearn.datasets import fetch_california_housing
#sklearn.datasetsからfetch_california_housingをimport

In [15]:
fetch_california_housing
#fetch_california_housingがどういうデータか確認

In [16]:
housing = fetch_california_housing()
#
housing
#

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [17]:
import pandas as pd
#pandasをimport

In [19]:
df_housing = pd.DataFrame(housing.data,columns = housing.feature_names)
#housingのデータフレームを作成

In [20]:
df_housing

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [21]:
df_housing['Price'] = housing.target
#dfに目的変数(Price)を加えた

In [32]:
X = df_housing.drop(['Price'],axis = 1)
#priceの列を除去してdfをX

In [33]:
X.head()
#特徴量の5行目まで表示

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [24]:
y = df_housing['Price']
#dfのPrice列をｙと表現

In [30]:
y.head()
#目的変数を5行目まで表示

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: Price, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
#sklearnからtrain_test_splitをimport

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state = 41)
#学習用データとテスト用データを1：9に分割、

In [ ]:
from sklearn.linear_model import LinearRegression
#sklearn.linear_modelから線形回帰モデルをimport

In [ ]:
lin_reg = LinearRegression()
#lin_regと略して定義

In [ ]:
lin_reg.fit(X_train,y_train)
#学習用データと結果を学習する

In [ ]:
lin_reg.predict(X_test)
#テストデータによる予測

In [ ]:
from sklearn.metrics import mean_absolute_error as mae
#maeをimport

In [ ]:
y_predict_X_train = lin_reg.predict(X_train)

In [ ]:
mae_train = mae(y_train,y_predict_X_train)

In [ ]:
y_predict_X_test = lin_reg.predict(X_test)

In [ ]:
mae_test = mae(y_test,y_predict_X_test)